app/views/base.html/
app/views/footer.html/
public/css/base.css/
public/css/home.css/
public/css/profile.css/
public/js/base.js/
public/js/home.js/
public/js/profile.js/
public/js/contact.js/
src/views/home.php/
src/views/profile.php/
src/views/contact.php/