::selection {
    color: white;
    background: #14161a;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif
}

header.main-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s;
    /*background-color: #14161a;*/
    position: fixed;
    height: 100vh;
    width: 5em;
    top: 0;
}

ul.main-sidebar-list {
    padding: 0;
    text-align: center;
}

li.main-sidebar-item {
    list-style: none;
    padding: 0.8em;
}

span.main-sidebar-title {
    color: white;
    display: block;
    font-size: 10px;
}

span.main-sidebar-btn:hover {
    cursor: pointer;
}

a.main-sidebar-anchor {
    text-decoration: none;
    color: white;
}

a.main-sidebar-anchor:hover {
    text-decoration: none;
    cursor: pointer;
}

i.sidebar-icon {
    color: white;
    font-size: 1.2em;
    border: 1px solid #14161a;
    border-radius: 4px;
    padding: 2px 10px;
}

i.sidebar-icon:hover {
    border-color: white;
}

i.sidebar-btn {
    margin: 5px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 2px 8px;
}

img.main-sidebar-image {
    width: 50px;
    height: 50px;
    position: relative;
    left: calc(50% - 25px);
    bottom: 25px;
    animation: animate-rotation 10s linear infinite;
}

@keyframes animate-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

div.inner-content {
    min-height: 80vh;
}

div.inner-content,
footer.inner-footer {
    text-align: center;
    margin: 2em 1em 0 6em;
}