<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.7.2/css/all.css"/>
    <link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/%LINK%"/>
    <title>Gramble - %TITLE%</title>
</head>
<body>
    <header class="main-sidebar">
        <ul class="main-sidebar-list">
            <li class="main-sidebar-item">
                <span class="main-sidebar-btn js-sidebar">
                    <i class="fas fa-grip-lines sidebar-icon sidebar-btn"></i>
                </span>
            </li>
            <li class="main-sidebar-item">
                <a class="main-sidebar-anchor" href="/">
                    <i class="fas fa-home sidebar-icon"></i>
                </a>
            </li>
            <li class="main-sidebar-item">
                <a class="main-sidebar-anchor" href="/profile">
                    <i class="fas fa-user-alt sidebar-icon"></i>
                </a>
            </li>
            <li class="main-sidebar-item">
                <a class="main-sidebar-anchor" href="/settings">
                    <i class="fas fa-cogs sidebar-icon"></i>
                </a>
            </li>
            <li class="main-sidebar-item">
                <a class="main-sidebar-anchor" href="/contact">
                    <i class="fab fa-servicestack sidebar-icon"></i>
                </a>
            </li>
        </ul>
        <img class="main-sidebar-image" src="favicon.png"/>
    </header>
    <div class="inner-content">%CONTENT%</div>
    <footer class="inner-footer">%FOOTER%</footer>
    <script type="text/javascript" src="/assets/js/base.js"></script>
    <script type="text/javascript" src="/assets/%SCRIPT%"></script>
</body>
</html>