<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/assets/css/base.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/%LINK%.css">
	<title>%TITLE%</title>
</head>
<body>
	%CONTENT%
	%FOOTER%
	<script type="text/javascript" src="/assets/js/base.js"></script>
	<script type="text/javascript" src="/assets/js/%LINK%.js"></script>
</body>
</html>